.App {
  text-align: center;
  background-color: blue;
  height: 100vh;
}

.smurf {
  border: 2px solid lightblue;
  width: 20%;
}
p,
h3 {
  color: white;
}

* {
  font-family: 'Handlee', cursive;
}
.smurfList {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding-top: 50px;
}

img {
  height: 100px;
  width: 50px;
}
